<!--
    /**
     * @文件        .html   
     * @描述        
     * @功能               
     * @作者        杜旭普
     * @创建日期    2014-5-28 14:24:30
     */
-->
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理员界面</title>
    <script src ='./sys/script/jquery.js'></script>
    <script src ='./app/_jScript/layer/layer.min.js'></script>
    <script src ='./app/_jScript/admin.js'></script>
    <link rel="stylesheet"  href="./app/_css/admin.css" type="text/css"/>
    <link rel="stylesheet" href="../../app/_css/admin.css" type="text/css">
    <link rel="stylesheet"  href="./app/_css/button.css" type="text/css"/>

  </head>
  <body>
        <div id="header">
            <div id="header_show_position">
                <div id="logo">
                    <div id="logo_image" style="background-image: url(./app/_image/logo.png);"></div>
                    <span class="edit"></span>
                </div>
                <div></div>
            </div>
        </div>
        <div id='main'>
            <div><!--界面右上角信息栏 -->
                <span>欢迎您！</span><span id="show_name"></span>
                <span><a  href="#" id="update_info" class="btn_hairline font_text">&nbsp;&nbsp;&nbsp;修改个人信息</a></span>
                <span><a  href="#" id="logoff">注销</a></span>
            </div>
        </div>
      <div class="tree ">
        <ul>
            <li>
                <span><i class=""></i> 账号管理</span> 
                <ul>
                    <li>
                        <span><i class=""></i> <a href="#" id="user_manager" >用户管理</a></span> 
                    </li>
                    <li>
                        <span><i class=""></i> <a href="#" id="group_manager">分组管理</a></span> 
                    </li>
                    <li>
                        <span><i class=""></i> <a href="#" id="part_manager">部门管理</a></span> 
                    </li>
                </ul>
            </li>
            <li>
                <span><i class=""></i> 问卷管理</span> 
                <ul>
                    <li>
                        <span><i class=""></i> <a href="#" id="new_survey">新建问卷</a></span> 
                    </li>
                    <li>
                        <span><i class=""></i> <a href="#" id="manager_survey">管理问卷</a></span> 
                    </li>
                    <li>
                        <span><i class=""></i> <a href="#" id='template_survey'>模板问卷</a></span>
                    </li>
                </ul>
            </li>
            <li>
                <span><i class=""></i> 数据统计</span> 
                <ul>
                    <li>
                        <span><i class=""></i> <a href="#" id='count_survey'>模糊统计</a></span>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
   
     <div  id="user_show" class="hide right_box">
         <div class="box_top">
             <a href="#" id="add_account" class ="button blue" onclick="add_account();">添加账号</a>
             <a href="#" id="import_info" class ="button blue" onclick="import_account();">导入信息</a>
         </div>
         <div id="show_staffs"><table id='show_user_table' border='1'><thead><tr><th>用户名</th><th>姓名</th><th>电子邮件</th><th></th><th></th><th><input id="checkallbox" type='checkbox'/></th></tr></thead><tbody id="show_user_tbody"></tbody></table></div>
     </div>
      <div  id="add_account_div" class="hide center_box">
          <div><span class="center_box_span">用户名:</span><input id="add_manager_id" class="center_box_input" maxlength="15" type="text"/><font color=red>*</font></div>
          <div><span class="center_box_span">姓名:</span><input id="add_manager_name" class="center_box_input" maxlength="10" type="text"/><font color=red>*</font></div>
          <div><span class="center_box_span">新密码:</span><input id="add_manager_npwd" class="center_box_input" maxlength="32" type="password"/><font color=red>*</font></div>
          <div><span class="center_box_span">确认新密码:</span><input id="add_manager_qnpwd" class="center_box_input" maxlength="32" type="password"/><font color=red>*</font></div>
          <div><span class="center_box_span">电子邮件:</span><input id="add_manager_email" class="center_box_input" type="text"/><font color=red>*</font></div>
          <div><input id="add_manager_submit" class="btn btn_primary" type="submit" onclick="add_info_submit();"/></div>
      </div>
      <div  id="import_account_div" class="hide center_box_file">
      　  <form action="./index.php?g=user&c=user&a=userImport" method="post" enctype="multipart/form-data"  target="suibian">
      　    <input type="file" name="file" id="file" class="center_box_input" />
     　     <input type="submit" value="上传" id="update" class="btn btn_primary"/>
      　  </form>
      　  <iframe name="suibian" seamless style="width: 470px; height: 200px;">导入文件显示信息</iframe>
      </div>
     <div  id="show_one_staff" class="hide center_box"></div>
     <div  id="update_info_show" class="hide center_box"></div>
     <div  id="update_first_pass" class="hide center_first">
         <div><span class="notice_text"><首次登录系统，建议您修改初始密码></span></div>
         <div><span class="center_box_span">原密码:</span><input id="update_first_pwd" class="center_box_input" maxlength="32" type="password"/></div>
         <div><span class="center_box_span">新密码:</span><input id="update_first_npwd" class="center_box_input" maxlength="32" type="password"/></div>
         <div><span class="center_box_span">确认新密码:</span><input id="update_first_qnpwd" class="center_box_input" maxlength="32" type="password"/></div><br>
         <div><input id="update_first_manager" class="btn btn_primary" type="submit" onclick="update_first_submit();"/></div>
     </div>
    <div  id="group_show" class="hide right_box">
         <div class="box_top">
             <a href="#" id="add_group" class ="button blue" onclick="add_group_submit()">添加分组</a>
         </div>
        <div  id="add_group_div" class="hide center_box_special">
            <div class="float_left_place">
          <div><span class=" ">分组名:</span><input id="add_group_id" class="center_box_input"  type="text"/><font color=red>*</font></div>
          <div><span class=" ">分组成员:</span><input id="add_group_member_name" class="center_box_input" maxlength="10" type="text" value="添加成员..."/></div>
          <div><table id="show_group_member_select_table" border='1' style="display: none;"><thead><th>用户名</th><th>姓名</th><th></th></thead><tbody id="show_group_member_select_tbody"></tbody></table></div>
          <div><input id="add_group_submit" class="btn btn_primary" type="submit" onclick="add_group_member_button();"/></div>
            </div>
          <div id="group_member_all_show" style="display: none;"><table border='1'><thead><th>用户名</th><th>姓名</th><th></th></thead><tbody id="show_group_member_all_tbody"></tbody></table></div>
         
        </div>
        <div  id="update_group_div" class="hide center_box_special">
<!--          <div id="update_group_div_div" class="float_left_place">
            <div><span class=" ">分组名:</span><input id="update_group_id" class="center_box_input"  type="text"/><font color=red>*</font></div>
            <div><span class=" ">分组成员:</span>
            <div><table id="show_group_member_show_table" border='1' style=""><thead><th>用户名</th><th>姓名</th><th></th></thead><tbody id="show_group_member_show_tbody"></tbody></table></div>
            <div id="group_member_all_show_show" style="display: none;"><table border='1'><thead><th>用户名</th><th>姓名</th><th></th></thead><tbody id="show_group_member_all_show_tbody"></tbody></table></div>
            <div><input id="update_group_submit" class="btn btn_primary" type="submit" onclick="update_group_member_button();"/></div>
            </div>
          </div>-->
        </div>
        <div id="group_show_info"><table id='show_group_table' border='1'><thead><tr><th></th><th></th><th>分组名</th></tr></thead><tbody id="show_group_tbody"></tbody></table></div>
        <div id="group_show_member"><table id='show_group_member_table' border='1'><thead><tr><th></th><th>成员</th></tr></thead><tbody id="show_group_member_tbody"></tbody></table></div>
    </div>
    <div  id="part_show" class="hide right_box">
         <div class="box_top">
             <a href="#" id="add_part" class ="button blue" onclick="">添加部门</a>
             <a href="#" id="import_part" class ="button blue" onclick="">导入部门</a>
         </div>
        <div id="part_show_info"><table id='show_part_table' border='1'><thead><tr><th></th><th></th><th>部门名</th></tr></thead><tbody id="show_part_tbody"></tbody></table></div>
    </div>
     <div  id="new_survey_show" class="hide right_box">
         <div><span class="center_box_span">问卷名:</span><input id="survey_name" class="center_box_input" maxlength="100" type="text"/></div>
         <div><span class="center_box_span">问卷类型:</span>
            <select id="survey_type" class='center_box_input' onchange="select_grade()">
                <option >请选择类型</option>
                <option id='satisfaction'>满意度</option>
                <option id='intention'>意向</option>
            </select></div>
           <div><span class="center_box_span">回答对象:</span><input id="answer_staff" class="center_box_input" type="text"/></div>
            <div>
            <fieldset id="survey_grade" class="toggle" style="display: none;">
			<legend>评分级数:</legend>
			<input type="radio" name="survey_grade"  value="two" />
			<label for="view-list">2分</label>
			<input type="radio" name="survey_grade"  value="three" />
			<label for="view-grid">3分</label>
                        <input type="radio" name="survey_grade"  value="five" />
			<label for="view-list">5分</label>
			<input type="radio" name="survey_grade"  value="ten" />
			<label for="view-grid">10分</label>
            </fieldset>
         </div><br>
<!--           <div id='survey_grade' style="display: none;"><span class="center_box_span">评分级数:</span>
<input class="center_box_input" name="survey_grade" value="two" type="radio"/><label for="radio-view-a">2分</label>
             <input class="center_box_input" name="survey_grade" value="three" type="radio"/>3分
             <input class="center_box_input" name="survey_grade" value="five" type="radio"/>5分
             <input class="center_box_input" name="survey_grade" value="ten" type="radio"/>10分
         </div><br>-->
         <div><input id="add_survey" class="btn btn_primary" type="submit" onclick="add_survey();"/></div>
     </div>
     <div  id="manager_survey_show" class="hide right_box">
         <div class="box_middle_top">未完成问卷</div>
         <div class="box_middle"></div>
         <div class="box_middle_bottom">已发布问卷</div>
     </div>
     <div  id="template_survey_show" class="hide right_box">
         <div><span class="center_box_span">问卷名:</span><input id="template_survey_name" class="center_box_input" maxlength="100" type="text"/></div>
         <div><span class="center_box_span">问卷类型:</span><input class="center_box_input" name="survey_type" value="Satisfaction" type="radio"/>满意度<input class="center_box_input" name="survey_type" value="Intention" type="radio"/>意向</div>
         <div><span class="center_box_span">回答对象:</span><input id="template_answer_staff" class="center_box_input" type="text"/></div>
         <div><span class="center_box_span">评分级数:</span><input class="center_box_input" name="survey_grade" value="two" type="radio"/>2分
             <input class="center_box_input" name="survey_grade" value="three" type="radio"/>3分
             <input class="center_box_input" name="survey_grade" value="five" type="radio"/>5分
             <input class="center_box_input" name="survey_grade" value="ten" type="radio"/>10分
         </div><br>
         <div><input id="add_template_survey" class="btn btn_primary" type="submit" onclick="add_template_survey();"/></div>
     </div>
     <div  id="count_survey_show" class="hide right_box">
         <div class="box_middle_top">意向问卷</div>
         <div class="box_middle"></div>
         <div class="box_middle_bottom">满意度问卷</div>
     </div>
  </body>
</html>
