<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src ='./sys/script/jquery.js'></script>
        <script src ='./sys/script/clock.js'></script>
        <script src ='./app/_jScript/survey.js'></script>
        <link rel="stylesheet"  href="./app/_css/survey.css" type="text/css"/>
        <link rel="stylesheet"  href="./app/_css/button.css" type="text/css"/>
    </head>
    <body>
        <div id="header">
            <span id="title"></span>
        </div>
        <div id="box"></div>
        <div id="sub">
            <button id="lastpage" class="button blue small hide">上一页</button>
            <button id="complete" class="button blue small ">提交</button>
            <button id="nextpage" class="button blue small hide">下一页</button>
        </div>
        <div id="rom" style="display: none">
            <input type="hidden" id="rom_id" value="{$sid}"/>
            <input type="hidden" id="rom_position" value="1"/>
        </div>
    </body>
</html>
