/* 
    Document   : admin
    Created on : 2014-5-28, 14:56:58
    Author     : 杜旭普
    Description:
        Purpose of the stylesheet follows.
*/
/*主页面样式*/
body{
    height: 100%; 
    background-attachment: fixed; 
    background-repeat: repeat; 
    background-color: #dbe5f1;
}
#header {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 800px;
    height: 45px;
    /*border-bottom: 1px solid #CCCCCC;*/
    /*z-index: 999;background: #eee;*/
}
#header_show_position{
    margin: 8px auto 0 auto;
    width: 80%;
    height: 60px;
}

#logo{
    padding: 5px 0 0 5px;
}
#logo_image{
    background-size:100% 100%;
    width: 150px;
    height: 50px;
    display: inline-block;
}
#main {
    margin-bottom:5px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align:right;
    font-size: 12px;
    color: red;
    border-bottom: 1px solid #CCCCCC;
}
.font_text{
    color: #3575B9;
    display: inline-block;
    font-size: 1.2em;
}
/*右侧淡出样式*/
.right_box{
/*    margin: 15px 0 15px 0;
    padding: 10px 0 10px 10px;*/
    /*text-align: right;*/
    /*z-index: 100;*/
    float: left;
    /*border:1px solid #999;*/
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
     -moz-border-radius:1em; -webkit-border-radius:1em; border-radius:1em;
     overflow-y: auto;overflow-x: none;
}
.hide {
     display: none;
}
.box_top {
    margin-bottom:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:left;
    font-size: 12px;
    color: red;
    border-bottom: 1px solid #CCCCCC;
    z-index: 101;
}
.box_middle_top{
    border-style: ridge;
    margin-top: 20px;
    margin-bottom:40px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.box_middle_bottom{
    border-style: ridge;
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.box_middle{
   
    border-bottom: 1px solid #CCCCCC;
}
#update_info_show{
    text-align: center;
}
.center_box{
    width: 360px;
    height: 425px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
    z-index: 1001
}
.center_box_file{
    width: 460px;
    height: 275px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
    z-index: 1001
}
.center_box_input{
    padding: .3em .4em;
    border: 1px solid #3575B9;
    border-radius: 5px;
    min-width: 14.5em;
    vertical-align: text-top;
    margin-bottom: 2px;
}
.center_box_span{
    display: inline-block;
    color: #3575B9;    
    margin-bottom: 2px;
    font-size: 1.2em;
    min-width: 14.5em;
    text-align: left;
    padding: .2em 1em 0 0;
}
.center_box_special{
    width: 560px;
    height: 425px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
    z-index: 1001
}
/*改密码弹窗*/
#update_first_manager{
    margin-left:25%;
}
.center_first{
    width: 210px;
    height: 200px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
}
.notice_text{
    color: red;
    font-size: 10px;
}

/*.xubox_layer { padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -moz-border-radius:3em; -webkit-border-radius:3em; border-radius:3em;}*/

/*左侧菜单栏样式*/
.tree {
    /*min-height:200px;*/
    top: 500px;
    float: left;
    width:220px;
    padding:19px;
    margin-bottom:20px;
    background-color: #fbfbfb;
    /*#fbfbfb*/
    border:1px solid #999;
/*    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
    -moz-border-radius:1em; -webkit-border-radius:1em; border-radius:1em;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

/*按钮样式*/
/*主按钮样式  例：class="btn 加分按钮样式"*/
.btn,.btn_primary,.btn_secondary,.btn_dark,.btn_icon,.btn_hairline,.btn_hairline_inverse {
display:inline-block;
*display:inline;
zoom:1;
width:auto;
padding:.35em 2em;
border-radius:5px;
overflow:visible;
vertical-align:baseline;
text-align:center;
text-decoration:none;
text-transform:lowercase;
font-weight:normal;
font-size:1em;
line-height:1.29em;
cursor:pointer;
position:relative;
*z-index:1;
}
.btn img,.btn_primary img,.btn_secondary img,.btn_dark img,.btn_icon img,.btn_hairline img,.btn_hairline_inverse img {
display:inline-block;
vertical-align:middle;
}
.btn,button,.btn_icon {
background:#EDEDED;
background-clip:padding-box;
color:#555;
border:#cfcfcf 1px solid;
}
.btn:hover,button:hover,.btn_icon:hover,a:hover .btn {
background:#EFEFEF;
text-decoration:none;
}
.btn_primary,.btn_secondary,.hovercta:hover .btn {
color:#FFF;
}
.btn_primary:hover,.btn_secondary:hover,.btn_dark:hover,.btn_icon:hover,.btn_hairline:hover,.btn_hairline_inverse:hover {
text-decoration:none;
}
/* Buttons - Primary */
.btn_primary {
background: #62bc33;
background: -moz-linear-gradient(left, #62bc33 0%, #8bd331 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#62bc33), color-stop(100%,#8bd331));
background: -webkit-linear-gradient(left, #62bc33 0%,#8bd331 100%);
background: -o-linear-gradient(left, #62bc33 0%,#8bd331 100%);
background: -ms-linear-gradient(left, #62bc33 0%,#8bd331 100%);
background: linear-gradient(to right, #62bc33 0%,#8bd331 100%);
border:none;
}
.btn_primary.big,
.btn_secondary.big {
padding:.25em 4.7em .25em 1em;
font-size:1.8em;
line-height:1.5em;
text-align:left;
-webkit-box-shadow: 0 4px 15px rgba(0,0,0,.3);
box-shadow: 0 4px 15px rgba(0,0,0,.3);
}
.btn_primary.medium, .btn_dark.medium {
padding: .27em 1em;
font-size: 1.4em;
line-height: 1.4em;
}
.btn_primary:hover,.btn_sticker:hover,a:hover .btn_sticker,a:hover .btn_primary {
background:#8bd331;
color:#FFF;
}
.btn_primary:active,.btn_sticker:active,a:active .btn_sticker,a:active .btn_primary {
background:#62bc33;
color:#FFF;
}

/* Buttons - Secondary */
.btn_secondary,button.btn_secondary,input.btn_secondary,.hovercta:hover .btn {
background:#3676B8;
border:1px solid #3575B9;
}
.btn_secondary:hover,button.btn_secondary:hover,input.btn_secondary:hover,.hovercta:hover .btn:hover,a:hover .btn_secondary {
background:#3676B8;
}
.btn_secondary:active,button.btn_secondary:active,input.btn_secondary:active,.hovercta:hover .btn:active,a:active .btn_secondary {
background:#0D53B4;
}

/* Buttons - Hairline */
.btn_hairline {
background:transparent;
padding:.3em 2.8em .3em 1.1em;
border:1px solid #3676B8;
border-radius:5px;
text-align:left;
color:#3575B9;
position:relative;
}
.btn_hairline:after {
content:'';
background:transparent url(/media/shared/general/icons/arrow_r.svg) no-repeat right center;
background-size:39px;
display:block;
width:26px;
height:26px;
position:absolute;
top:2px;
right:0;
}
.lt_ie9 .btn_hairline:after {
content:url(/media/shared/general/icons/arrow_r.png);
top:.3em;
}
.btn_primary.big:after,
.btn_secondary.big:after {
content:'';
background:transparent url(/media/shared/general/icons/arrow_r_white.svg) no-repeat right center;
background-size:65px;
display:block;
width:45px;
height:45px;
position:absolute;
top:6px;
right:0;
}
.lt_ie9 .btn_primary.big:after,
.lt_ie9 .btn_secondary.big:after {
content:url(/media/shared/general/icons/arrow_r_white.png);
top:.3em;
}
.btn_hairline.active,.btn_hairline.inverse.active,.btn_hairline:hover,.btn_hairline.inverse:hover,a:hover .btn_hairline {
background:#3676B8;
border-color:#3676B8;
color:#FFF;
}
.btn_hairline:active,.btn_hairline.inverse:active,a:active .btn_hairline {
background:#2356A6;
border-color:#2356A6;
}
.btn_hairline.inverse {
border-color:#FFF;
color:#FFF;
}
.btn_hairline:active:after,.btn_hairline.inverse:active:after,.btn_hairline.active:after,.btn_hairline.inverse.active:after,.btn_hairline:hover:after,.btn_hairline.inverse:hover:after,.btn_hairline.inverse:after,a:active .btn_hairline:after,a:hover .btn_hairline:after {
background-image:url(/media/shared/general/icons/arrow_r_white.svg);
}
.lt_ie9 .btn_hairline:active:after,.lt_ie9 .btn_hairline.inverse:active:after,.lt_ie9 .btn_hairline.active:after,.lt_ie9 .btn_hairline.inverse.active:after,.lt_ie9 .btn_hairline:hover:after,.lt_ie9 .btn_hairline.inverse:hover:after,.lt_ie9 .btn_hairline.inverse:after {
content:url(/media/shared/general/icons/arrow_r_white.png);
}
.lt_ie9 .btn_hairline:active:after,.lt_ie9 .btn_hairline.inverse:active:after,.lt_ie9 .btn_hairline.active:after,.lt_ie9 .btn_hairline.inverse.active:after,.lt_ie9 .btn_hairline:hover:after,.lt_ie9 .btn_hairline.inverse:hover:after,.lt_ie9 .btn_hairline.inverse:after {
content:url(/media/shared/general/icons/arrow_r_white.png);
}
/* Buttons - Prereq */
.add_to_cart,.prereq {
float:right;
}
.prereq.btn_primary,.btn_primary.add_to_cart {
font-size:1em;
}
.add_to_cart {
padding-left:2.3em;
}
.prereq {
margin-right:0;
position:relative;
left:1.5em;
z-index:99;
}
.prereq em {
margin-left:.4em;
}
.prereq.btn_primary em {
font-style:normal;
}
.btn_primary .peek_toggle {
color:#FFF;
}
.prereq .peek_toggle {
text-decoration:underline;
}
.add_to_cart.disabled,.prereq_accepted {
background:#FFF;
border-color:#7DAB2E;
color:#3676B8;
}

/*评分等级*/
fieldset { margin-top: 1em; margin-bottom: 1em; border:1px solid #ddd; }
legend { font-weight:bold; }
label { margin-right:1.2em; }

/*成员部门分组表格样式*/
#group_show_info,.float_left_place{
    float: left;
}
#group_member_all_show{
    float: right;
    background: white;
background-image: initial;
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: white;
}